# Stolen from Luanti with tweaks
[Desktop Entry]
Name=Cubyz
GenericName=Cubyz
Comment=Voxel sandbox game with a large render distance, procedurally generated content and some cool graphical effects
Exec=launch.sh
Icon=net.cubyz.Cubyz
Terminal=false
Type=Application
Categories=Game;Simulation;
StartupNotify=false
StartupWMClass=cubyz
Keywords=sandbox;world;mining;crafting;blocks;nodes;multiplayer;roleplaying;